<ion-header>


  <ion-toolbar>
    <ion-title class="largemenuitem">
      <div style="font-size: 20px;margin-top: 1px;">Nouveau</div>
    </ion-title>
  </ion-toolbar>
  

</ion-header>


<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12" >
      <ion-button color="primary" class="submit-btn" expand="full" shape="round" (click)="goform(0)">Nouveau RDV</ion-button>
    </ion-col>
    <ion-col size="12" >
      <ion-button color="primary" class="submit-btn" expand="full" shape="round" (click)="goform(1)">Nouveau Contact</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
